{% import 'macros/icons.njk' as icons %}

<nav class="pc-app__sidebar pc-nav">
    <ul>
        <li>
            <a {% if view_name == 'home' %}aria-current="page"{% endif %} href="{{ path('home') }}">
                {{ icons.dashboard(class_name='pc-icon--sm') }}
                {{ 'dashboard-title'|trans }}
            </a>
        </li>

        <li>
            <a {% if view_name|startswith('faircalendar_') %}aria-current="page"{% endif %} href="{{ path('faircalendar_index') }}">
                {{ icons.calendar(class_name='pc-icon--sm') }}
                {{ "faircalendar-title"|trans }}
            </a>
        </li>

        <li {% if view_name|startswith('crm_') %}class="active"{% endif %}>
            <details open>
                <summary>
                    {% set class_name = 'pc-icon--sm' %}
                    {{ icons.crm(class_name='pc-icon--sm') }}
                    {{ "crm-title"|trans }}
                </summary>

                <ul>
                    <li>
                        <a href="{{ path('crm_customers_list') }}" {% if view_name|startswith('crm_customers_') %}aria-current="page"{% endif %}>
                            {{ "crm-customers-title"|trans|capitalize }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('crm_projects_list') }}" {% if view_name|startswith('crm_projects_') %}aria-current="page"{% endif %}>
                            {{ "crm-projects-title"|trans|capitalize }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('crm_tasks_list') }}" {% if view_name|startswith('crm_tasks_') %}aria-current="page"{% endif %}>
                            {{ "crm-tasks-title"|trans|capitalize }}
                        </a>
                    </li>
                </ul>
            </details>
        </li>

        <li {% if view_name|startswith('people_') %}class="active"{% endif %}>
            <details open>
                <summary>
                    {% set class_name = 'pc-icon--sm' %}
                    {{ icons.group(class_name='pc-icon--sm') }}
                    {{ 'people-title'|trans }}
                </summary>

                <ul>
                    <li>
                        <a href="{{ path('people_users_list') }}" {% if view_name|startswith('people_users_') %}aria-current="page"{% endif %}>
                            {{ 'users-title'|trans }}
                        </a>
                    </li>
                </ul>
            </details>
        </li>
    </ul>
</nav>
