{% import 'macros/icons.njk' as icons %}

<button is="pc-theme-toggler" aria-hidden="true" class="pc-btn pc-btn--secondary pc-btn--circle">
    {{ icons.sun({id: 'theme-light'}) }}
    {{ icons.moon({id: 'theme-dark'}) }}
</button>
