{% extends 'layouts/app.njk' %}
{% block main %}
    <h1>
        {{ 'faircalendar-events-add-title'|trans({ date: date }) }}
    </h1>

    {% include 'components/faircalendar_event_form.njk' %}
{% endblock main %}
