{% extends 'layouts/app.njk' %}
{% from 'macros/faircalendar_event_form.njk' import faircalendar_event_form %}

{% block main_class %}pc-container{% endblock %}

{% block main %}
    <h1>
        {{ 'faircalendar-events-add-title'|trans({ date: date }) }}
    </h1>

    <div class="pc-card">
        {{ faircalendar_event_form(null, types, projects, tasks, times, date, class_name='pc-card__content') }}
    </div>
{% endblock main %}
