{% extends 'layouts/app.njk' %}
{% from 'macros/project_form.njk' import project_form %}

{% block main_class %}pc-container{% endblock %}

{% block main %}
    <h1>
        {{ 'crm-projects-add-title'|trans }}
    </h1>

    <div class="pc-card">
        {{ project_form(null, customers, class_name='pc-card__content') }}
    </div>
{% endblock main %}
