.pc-nav {
  padding: calc(2 * var(--w)) 0;
}

.pc-nav > ul {
  list-style-type: none;
  padding: 0;
}

.pc-nav li.active {
  position: relative;
}

.pc-nav li.active > details > summary {
  font-weight: bold;
}

.pc-nav > ul > li ul {
  list-style-type: none;
  padding: 0;
  margin: 0 calc(2 * var(--w));
  box-shadow: var(--shadow-inner);
  background-color: var(--background-alt-grey);
}

.pc-nav details > summary {
  cursor: pointer;
  color: var(--text-muted);
}

.pc-nav details > summary::after {
  content: '⌄';
}

.pc-nav a,
.pc-nav details > summary {
  display: inline-flex;
  column-gap: calc(2 * var(--v));
  align-items: center;
  width: 100%;
  padding: calc(3 * var(--v)) calc(5 * var(--v));
}

.pc-nav a[aria-current='page'] {
  font-weight: bold;
}

.pc-nav a:not([aria-current='page']) {
  color: var(--text-muted);
}

.pc-nav a[aria-current='page'] {
  position: relative;
}

.pc-nav :where(li.active, > ul > li > a[aria-current='page'])::before {
  position: absolute;
  content: '';
  inset: 0;
  left: 0;
  width: var(--v);
  background-color: var(--background-action-violet);
  border-top-right-radius: var(--radius-lg);
  border-bottom-right-radius: var(--radius-lg);
}

.pc-nav details summary > svg,
svg.pc-icon--sm {
  display: inline;
}
