.pc-nav {
  overflow-y: auto;
  padding: calc(2 * var(--w)) 0;
}

.pc-nav ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.pc-nav ul li {
  position: relative;
  padding: calc(3 * var(--v)) calc(3 * var(--v));
}

.pc-nav ul li ul {
  padding: var(--w);
  margin-top: var(--w);
  overflow: hidden;
  font-size: var(--font-size-sm);
  box-shadow: var(--shadow-inner);
  background-color: var(--background-alt-grey);
}

.pc-nav ul li ul li {
  padding: var(--w) var(--v);
}

.pc-nav__decoration {
  position: absolute;
  inset: 0;
  left: 0;
  width: var(--v);
  background-color: var(--background-action-violet);
  border-top-right-radius: var(--radius-lg);
  border-bottom-right-radius: var(--radius-lg);
}

.pc-nav a,
.pc-nav details > summary {
  display: inline-flex;
  column-gap: calc(2 * var(--v));
  align-items: center;
  width: 100%;
  font-size: var(--font-size-sm);
}

.pc-nav details > summary {
  cursor: pointer;
  color: var(--text-muted);
}

.pc-nav a[aria-current='page'] {
  font-weight: bold;
}
.pc-nav a:not([aria-current='page']) {
  color: var(--text-muted);
}

.pc-nav details summary > svg,
svg.pc-icon--sm {
  display: inline;
}
