.pc-nav {
  background-color: var(--background-default);
  color: var(--text-muted);
}

[is='pc-nav-menu-button'] {
  background-color: transparent;
  border: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.pc-nav ul {
  list-style-type: none;
  padding: 0;
  margin-block: 0;
}

@media screen and (min-width: 840px) {
  [is='pc-nav-menu-button'] {
    display: none;
  }
  .pc-nav > ul {
    display: block;
  }
}

/* Links get padding to facilitate clicking */

/* First-level */
.pc-nav .pc-nav-entry > a,
.pc-nav .pc-nav-entry summary {
  padding-block: calc(3 * var(--v));
  padding-inline: calc(6 * var(--v));
}
.pc-nav-entry:last-child details ul {
  margin-block-end: calc(3 * var(--v));
}
/* Second-level */
.pc-nav details a {
  display: block;
  padding-block: calc(2 * var(--v));
  padding-inline: calc(4 * var(--v));
}

/* Active links get decorations */

.pc-nav a[aria-current='page'] {
  color: var(--text-default);
  font-weight: bold;
}

.pc-nav a[aria-current='page'] {
  position: relative;
}

.pc-nav a[aria-current='page']::before {
  position: absolute;
  content: '';
  inset: 0;
  width: var(--v);
  border-top-right-radius: var(--v);
  border-bottom-right-radius: var(--v);
  background-color: var(--background-action-violet);
}

/* Active link groups get showcased, but less prominently */

.pc-nav .pc-nav-entry.active summary {
  color: var(--text-default);
}

/* Link groups are shown in a box */

.pc-nav details ul {
  margin-inline: calc(3 * var(--w));
  box-shadow: var(--shadow-inner);
  background-color: var(--background-alt-grey);
  border-radius: var(--radius-sm);
}

/* First-level links get a hover effect */

.pc-nav a:hover,
.pc-nav .pc-nav-entry summary:hover {
  color: var(--text-default);
}

/* Link group headers are shown as togglable */

.pc-nav details > summary {
  cursor: pointer;
}

.pc-nav-dropdown {
  position: relative;
  margin-left: auto;
}

.pc-nav-dropdown::after {
  content: '⌄';
  position: absolute;
  transform: rotateZ(
    90deg
  ); /* There is no "left arrowhead" so we rotate "down arrowhead" instead */
  top: -1rem;
  left: -1.5ch;
  font-size: var(--font-size-lg);
}

.pc-nav-entry details[open] .pc-nav-dropdown::after {
  transform: none;
  left: -2ch;
}
