{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true,
        "jest": true
    },
    "extends": [
        "airbnb-base",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "rules": {
        "import/no-extraneous-dependencies" : 0,
        "import/prefer-default-export" : 0
    },
    "overrides": [{
        "files": [
            "*.svelte"
        ],
        "plugins": [
            "svelte3"
        ],
        "processor": "svelte3/svelte3",
        "rules": {
            "import/first": "off",
            "import/no-duplicates": "off",
            "import/no-mutable-exports": "off",
            "import/no-mutable-unresolved": "off"
        }
    }]
}
