{% extends 'layouts/app.njk' %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}
{% from './_form.njk' import user_edit_form %}

{% block main_class %}pc-container{% endblock %}

{% set title = 'users-edit-title'|trans({user: user|fullName }) %}

{% block main %}
    {{ breadcrumb([{ title: 'people-title'|trans }, { title: 'users-title'|trans, href: path('people_users_list') }, { title: title }]) }}

    <h1>{{ title }}</h1>

    <div class="pc-card">
        {{ user_edit_form(user, roles, contracts, workingTimes, class_name='pc-card__content') }}
    </div>
{% endblock main %}
