{% extends 'layouts/app.njk' %}
{% from 'macros/table.njk' import render_table with context %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}

{% block main_class %}pc-container{% endblock %}

{% set title = 'users-title'|trans %}

{% block main %}
    {{ breadcrumb([{ title: 'people-title'|trans }, { title: title }]) }}

    <div class="pc-row pc-row--middle" style="--row-gap: calc(2 * var(--w))">
        <h1 class="pc-m" style="--m: 0">
            {{ title }}
        </h1>
        <a href="{{ path('people_users_add') }}" class="pc-btn">{{ 'common-add'|trans }}</a>
    </div>

    {{ render_table(table, attr={class: 'pc-mt', style: '--mt: calc(4 * var(--w))'}) }}
{% endblock main %}
