{% extends 'layouts/app.njk' %}
{% import 'macros/links.njk' as links %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}

{% set title = 'users-title'|trans %}

{% block title %}{{ title }} - {{ super() }}{% endblock %}

{% block main %}
<div class="pc-container pc-stack">
    {{ breadcrumb([{ title: 'people-title'|trans }, { title: title }]) }}

    <div class="pc-cluster pc-gap" style="--cluster-justify: space-between; --cluster-align: center">
        <h1 class="pc-m" style="--m: 0">
            {{ title }}
        </h1>
        {{ links.add(path('people_users_add'))}}
    </div>

    <h2>{{ 'users-active-title'|trans }}</h2>
    {% table activeUsersTable %}

    <h2 class="pc-m" style="--m: calc(4 * var(--w)) 0 0 0">{{ 'users-inactive-title'|trans }}</h2>
    {% table inactiveUsersTable %}
</div>
{% endblock main %}
