body.pc-app {
  position: relative;
  display: flex;
  flex-direction: column;
  /* Make it fill entire screen height */
  min-height: 100vh;
}

/* Stretch main div and its children to fill entire screen height too */
body.pc-app > :last-child {
  flex-grow: 1;
}
body.pc-app > :last-child > * {
  align-self: stretch;
}
