.pc-brand {
  display: inline-flex;
  align-items: center;
  column-gap: calc(3 * var(--v));
  padding: calc(6 * var(--v));
  font-size: var(--font-size-lg);
  font-weight: bold;
}

.pc-brand__logo {
  width: calc(8 * var(--v));
  height: calc(8 * var(--v));
}
