{% import 'macros/buttons.njk' as buttons %}
{% import 'macros/icons.njk' as icons %}
{% from 'macros/attr.njk' import render_attr %}

{% macro event_form(event, types, projects, tasks, times, startDate, endDate, attr=null) %}

{% set isNotMission = event and event.type != 'mission' %}

<form method="POST" {{ render_attr(attr) }} is="pc-event-form">
    <div class="pc-select-group">
        <label class="pc-label required" for="type">{{ 'faircalendar-type-title'|trans }}</label>
        <select name="type" id="type" required>
            {% for type in types %}
                <option value="{{ type }}"{% if event and event.type == type %}selected{% endif %}>{{ 'faircalendar-type-option'|trans({ type: type }) }}</option>
            {% endfor %}
        </select>
    </div>

    <div id="mission-fields" class="pc-grid pc-gap" style="--cols: 2" {% if isNotMission %}hidden{% endif %}>
        <div class="pc-select-group">
            <label class="pc-label required" for="projectId">{{ 'faircalendar-projectId-title'|trans }}</label>
            <select name="projectId" id="projectId" required {% if isNotMission %}disabled{% endif %}>
                {% for project in projects %}
                    <option value="{{ project.id }}" {% if event and event.project.id == project.id %}selected{% endif %}>{{ project.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="pc-select-group">
            <label class="pc-label required" for="taskId">{{ 'faircalendar-taskId-title'|trans }}</label>
            <select name="taskId" id="taskId" required {% if isNotMission %}disabled{% endif %}>
                {% for task in tasks %}
                    <option value="{{ task.id }}" {% if event and event.task.id == task.id %}selected{% endif %}>{{ task.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="pc-grid pc-gap" style="--cols: 2">
        <div class="pc-select-group">
            <label class="pc-label required" for="time">{{ 'faircalendar-time-title'|trans }}</label>
            <select name="time" id="time" required>
                {% for time in times %}
                    <option value="{{ time }}" {% if event and event.time == time %}selected{% endif %}>{{ time|minutesToHours }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <input type="hidden" name="startDate" value="{{ startDate }}T00:00:00">
    <input type="hidden" name="endDate" value="{{ endDate }}T00:00:00">

    {{ buttons.save(attr={type: 'submit'}) }}
</form>
{% endmacro %}
