{% extends 'layouts/app.njk' %}
{% from './_form.njk' import event_form %}

{% block main_class %}pc-container{% endblock %}

{% block main %}
    <h1>
        {{ 'faircalendar-events-add-title'|trans({ date: date }) }}
    </h1>

    <div class="pc-card">
        {{ event_form(null, types, projects, tasks, times, date, class_name='pc-card__content') }}
    </div>
{% endblock main %}
