{% extends 'layouts/app.njk' %}
{% from './_form.njk' import event_form %}

{% block main_class %}pc-container{% endblock %}

{% block main %}
    <div class="pc-row pc-row--middle">
        <h1 class="pc-m" style="--m: 0">
            {{ 'faircalendar-events-edit-title'|trans({ date: event.date }) }}
        </h1>
        <form method="POST" action="{{ path('faircalendar_event_delete', { id: event.id }) }}" class="pc-ml" style="--ml: var(--w)">
            <button class="pc-btn pc-btn--error" type="submit">
                {{ 'common-form-delete'|trans }}
            </button>
        </form>
    </div>

    <div class="pc-card pc-mt" style="--mt: calc(3 * var(--w))">
        {{ event_form(event, types, projects, tasks, times, class_name='pc-card__content') }}
    </div>
{% endblock main %}
