{% extends 'layouts/app.njk' %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}
{% from './_form.njk' import event_form %}

{% block main_class %}pc-container{% endblock %}

{% set title = 'faircalendar-events-edit-title'|trans({ date: event.date }) %}

{% block main %}
    {{ breadcrumb([{ title: 'faircalendar-title'|trans, href: path('faircalendar_index') }, { title: title }]) }}

    <div class="pc-row pc-row--middle" style="--row-gap: calc(2 * var(--w))">
        <h1 class="pc-m" style="--m: 0">
            {{ title }}
        </h1>
        <form method="POST" action="{{ path('faircalendar_event_delete', { id: event.id }) }}">
            <button class="pc-btn pc-btn--error" type="submit">
                {{ 'common-form-delete'|trans }}
            </button>
        </form>
    </div>

    <div class="pc-card pc-mt" style="--mt: calc(4 * var(--w))">
        {{ event_form(event, types, projects, tasks, times, class_name='pc-card__content') }}
    </div>
{% endblock main %}
