{% import 'macros/icons.njk' as icons %}

<span class="pc-cluster pc-gap" style="--cluster-align: center">
  {% if actions.view %}
    <a href="{{ actions.view.url }}" class="pc-btn pc-btn--secondary" title="{{ 'common-view'|trans }}">
      {{ icons.eye(attr={class: 'pc-icon--action-violet'}) }}
    </a>
  {% endif %}

  {% if actions.edit %}
    <a href="{{ actions.edit.url }}" class="pc-btn pc-btn--secondary" title="{{ 'common-edit'|trans }}">
      {{ icons.pencil(attr={class: 'pc-icon--action-violet'}) }}
    </a>
  {% endif %}

  {% if actions.delete %}
    <form method="POST" action="{{ actions.delete.url }}" title="{{ 'common-delete'|trans }}">
      <button class="pc-btn pc-btn--secondary">
        {{ icons.trash({class: 'pc-icon--action-violet'}) }}
      </button>
    </form>
  {% endif %}
</span>
