<span class="pc-badge pc-bold" style="--badge-color: var(--leave-{{ type }}-text); --badge-background: var(--leave-{{ type }}-background)">
    {{ 'leaves-overview-days'|trans({ days: days }) }}
</span>
