{% extends 'layouts/app.njk' %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}
{% from './_form.njk' import leave_request_form %}

{% set title = 'leave-requests-add-title'|trans %}

{% block main %}
<div class="pc-container">
    {{ breadcrumb([{ title: 'people-title'|trans }, { title: 'leaves-title'|trans, href: path('people_leave_requests_list') }, { title: title }]) }}

    <h1>{{ title }}</h1>

    {{ leave_request_form(null, types, attr={class: 'pc-card pc-box'}) }}
</div>
{% endblock main %}
