{% extends 'layouts/app.njk' %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}
{% from './_form.njk' import leave_request_form %}

{% set title = 'leave-requests-add-title'|trans %}

{% block main %}
<div class="pc-container">
    {{ breadcrumb([{ title: 'people-title'|trans }, { title: 'leaves-title'|trans, href: path('people_leave_requests_list') }, { title: title }]) }}

    <h1>{{ title }}</h1>

    {{ leave_request_form(null, types, attr={class: 'pc-card pc-box'}) }}

    {% if errorModal %}
    <dialog id="menstrual_quota_error">
        <article>
            <header>
                <button aria-label="Close" onclick="this.closest('dialog').close()"></button>
                <h3>{{ 'leave-requests-menstrual-quota-exceeded'|trans }}</h3>
            </header>
            <p>{{ 'leave-requests-menstrual-quota-exceeded-message'|trans }}</p>
            <footer>
                <button class="pc-btn" onclick="this.closest('dialog').close()">{{ 'common-ok'|trans }}</button>
            </footer>
        </article>
    </dialog>
    <script>
        document.getElementById('menstrual_quota_error').showModal();
    </script>
    {% endif %}
</div>
{% endblock main %}
