{% extends 'layouts/app.njk' %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}
{% from './_form.njk' import leave_request_moderation_form, leave_request_delete_form with context %}

{% set title = 'leave-requests-detail-title'|trans({ user: leaveRequest.user|fullName }) %}

{% block main %}
<div class="pc-container pc-stack">
    {{ breadcrumb([{ title: 'people-title'|trans }, { title: 'leaves-title'|trans, href: path('people_leave_requests_list') }, { title: title }]) }}

    <div class="pc-cluster pc-gap" style="--cluster-justify: space-between; --cluster-align: center">
        <h1 class="pc-m" style="--m: 0">{{ title }}</h1>
    
        {% if canEdit %}
            <a href="{{ path('people_leave_requests_edit', {id: leaveRequest.id}) }}" class="pc-btn">
                {{ 'common-edit'|trans }}
            </a>
        {% endif %}

        {% if leaveRequest.canCancel %}
            {{ leave_request_delete_form(leaveRequest) }}
        {% endif %}
    </div>

    {% inlinetable inline, { attr: { class: 'pc-card' } } %}

    <div class="pc-card pc-box">
        {% if canModerate %}
            <h2>{{ 'leave-requests-moderation'|trans }}</h2>
            {{ leave_request_moderation_form(leaveRequest) }}
        {% else %}
            <p class="pc-text--center">{{ 'leave-requests-error-cannot-moderate'|trans }}</p>
        {% endif %}
    </div>
</div>
{% endblock main %}
