{% extends 'layouts/app.njk' %}
{% import 'macros/links.njk' as links %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}

{% set title = 'leaves-title'|trans %}

{% block main %}
<div class="pc-container pc-stack">
    {{ breadcrumb([{ title: 'people-title'|trans }, { title: title }]) }}

    <div class="pc-cluster pc-gap" style="--cluster-justify: space-between; --cluster-align: center">
        <h1 class="pc-m" style="--m: 0">
            {{ title }}
        </h1>
        {{ links.add(path('people_leave_requests_add'), text='leave-requests-add-title'|trans) }}
    </div>

    <div class="pc-cluster" style="--cluster-gap: calc(3 * var(--w))">
        <div class="pc-stack">
            <h2>{{ 'leaves-summary-title'|trans }}</h2>

            {% table overviewTable, { attr: {class: 'pc-table--center pc-table--no-shadow'} } %}
        </div>

        <div class="pc-stack">
            <h2>{{ 'leaves-list-title'|trans }}</h2>

            {% table table %}

            {% set paginationUrl = path('people_leave_requests_list') %}
            {% include 'includes/pagination.njk' %}
        </div>
    </div>
</div>
{% endblock main %}
