.pc-input-group {
  margin-bottom: calc(2 * var(--w));
}

.pc-input-group > input {
  display: block;
  width: 100%;
}

.pc-select-group {
  margin-bottom: calc(2 * var(--w));
}

.pc-input-group > select {
  display: block;
  width: 100%;
}

:where(.pc-input-group, .pc-select-group) > label {
  display: block;
  padding-bottom: var(--v);
}
