{% extends 'layouts/app.njk' %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}
{% from './_form.njk' import profile_form %}

{% set title = 'profile-title'|trans %}

{% block main %}
<div class="pc-container">
    {{ breadcrumb([{ title: title }]) }}

    <h1 class="pc-m" style="--m: 0">
        {{ title }}
    </h1>

    {{ profile_form(user, attr={class: 'pc-box pc-mt', style: '--mt: calc(3 * var(--w))'}) }}
</div>
{% endblock main %}
