{% import 'macros/buttons.njk' as buttons %}
{% from 'macros/attr.njk' import render_attr %}

{% macro customer_form(customer=null, attr=null) %}
<form method="POST" {{ render_attr(attr) }}>
    <div class="pc-input-group">
        <label class="pc-label required" for="name">{{ 'crm-customers-name'|trans }}</label>
        <input type="text" name="name" id="name" required {% if customer %}value="{{ customer.name }}"{% endif %}>
    </div>

    {{ buttons.save(attr={type: 'submit'}) }}
</form>
{% endmacro %}
