{% extends 'layouts/app.njk' %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}
{% from './_form.njk' import customer_form %}

{% set title = 'crm-customers-edit-title'|trans({name: customer.name }) %}

{% block main %}
<div class="pc-container">
    {{ breadcrumb([{ title: 'crm-customers-title'|trans, href: path('crm_customers_list') }, { title: title }]) }}

    <h1>{{ title }}</h1>

    {{ customer_form(customer, attr={class: 'pc-card pc-box'}) }}
</div>
{% endblock main %}
