{% extends 'layouts/app.njk' %}
{% import 'macros/links.njk' as links %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}

{% set title = 'crm-customers-title'|trans %}

{% block main %}
<div class="pc-container pc-stack">
    {{ breadcrumb([{ title: title }]) }}

    <div class="pc-cluster pc-gap" style="--cluster-justify: space-between; --cluster-align: center">
        <h1 class="pc-m" style="--m: 0">
            {{ title }}
        </h1>
        {{ links.add(path('crm_customers_add'))}}
    </div>

    {% table table, {caption: 'crm-customers-table-caption'|trans} %}

    {% set paginationUrl = path('crm_customers_list') %}
    {% include 'includes/pagination.njk' %}
</div>
{% endblock main %}
