nav[role='navigation'][aria-label].pc-breadcrumb {
  color: var(--text-muted);
  background-color: var(--background-default);
  box-shadow: var(--shadow-default);
  padding: var(--w);
  margin-bottom: calc(4 * var(--v));
  /* flex p-2 mt-6 mb-6 text-sm text-gray-500 bg-white rounded-lg shadow-md dark:bg-gray-800 */
}

.pc-breadcrumb > ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
}

.pc-breadcrumb li:not(:first-child)::before {
  content: '/';
  margin-inline: var(--w);
}
