{% extends 'layouts/app.njk' %}
{% import 'macros/links.njk' as links %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}

{% block main %}
<div class="pc-container">
    {{ breadcrumb([{ title: 'crm-tasks-title'|trans }]) }}

    <div class="pc-row pc-row--middle pc-row--between">
        <h1 class="pc-m" style="--m: 0">{{ 'crm-tasks-title'|trans }}</h1>
        {{ links.add(path('crm_tasks_add'))}}
    </div>

    {% table table, { attr: {class: 'pc-mt', style: '--mt: calc(4 * var(--w))'} } %}
</div>
{% endblock main %}
