.pc-icon--error {
  color: var(--text-error);
}

.pc-icon--action-violet {
  color: var(--text-action-violet);
}

@media (prefers-color-scheme: dark) {
  .pc-icon--action-violet {
    color: var(--text-default);
  }
}

.pc-icon--sm {
  width: calc(6 * var(--v));
  height: calc(6 * var(--v));
}

.pc-icon--left {
  display: flex;
  align-items: center;
}

.pc-icon--left > .pc-icon {
  margin-inline-end: calc(2 * var(--v));
}
