body.pc-app {
  position: relative;
  /* Ensure content fills entire screen height */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Stretch main div and its children to fill entire screen height too */
.pc-app > :last-child {
  flex-grow: 1;
}
.pc-app > :last-child > * {
  align-self: stretch;
}

.pc-app main {
  overflow-y: auto;
}
