body.pc-app {
  position: relative;
  /* Fill entire height */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pc-app__content {
  display: flex;
  flex-direction: column;
  /* Fill entire height */
  flex-grow: 1;
}

.pc-app__content > :last-child {
  /* Fill entire height */
  flex-grow: 1;
}

.pc-app main {
  overflow-y: auto;
}
