{% extends 'layouts/app.njk' %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}
{% from './_form.njk' import profile_form %}

{% set title = 'profile-title'|trans %}

{% block main %}
<div class="pc-container pc-stack">
    {{ breadcrumb([{ title: title }]) }}

    <h1>
        {{ title }}
    </h1>

    {{ profile_form(user, attr={class: 'pc-card pc-box'}) }}
</div>
{% endblock main %}
