{
  "type": "postgres",
  "host": "database",
  "port": 5432,
  "username": "permacoop",
  "password": "permacoop",
  "database": "permacoop",
  "synchronize": false,
  "logging": ["error"],
  "entities": ["dist/src/Domain/**/*.entity{.ts,.js}"],
  "migrations": ["dist/migrations/**/*{.ts,.js}"],
  "migrationsTableName": "migrations"
}
