body {
  background-color: var(--background-default);
  color: var(--text-default);
  font-family: var(--font-default);
  font-size: var(--font-size-default);
}

h1 {
  margin-bottom: calc(3 * var(--w));
}
