body {
  background-color: var(--background-default);
  color: var(--text-default);
  font-family: var(--font-default);
  font-size: var(--font-size-default);
}

h1 {
  margin-bottom: calc(3 * var(--w));
}

label.required::after {
  content: ' *';
  color: var(--text-error);
}

button {
  cursor: pointer;
}

button:not(:disabled):hover {
  background-color: var(--hover-tint);
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}
