.pc-app {
  display: grid;
  grid-template-areas:
    'brand header'
    'sidebar content';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  background-color: var(--background-alt-grey);
}

.pc-app__brand {
  grid-area: brand;
  z-index: 2;
  background-color: var(--background-default);
  padding: calc(3 * var(--v)) calc(6 * var(--v));
}

.pc-app__brand > a {
  display: inline-flex;
  align-items: center;
  column-gap: calc(2 * var(--v));
  font-size: var(--font-size-md);
  font-weight: bold;
}

.pc-app__brand > a > img {
  width: calc(8 * var(--v));
  height: calc(8 * var(--v));
}

.pc-app__sidebar {
  grid-area: sidebar;
  z-index: 2;
  background-color: var(--background-default);
}

.pc-app__content {
  grid-area: content;
  padding: calc(3 * var(--w));
}

.pc-app__header {
  grid-area: header;
  background-color: var(--background-default);
  display: flex;
  justify-content: end;
  align-items: center;
  padding: calc(3 * var(--v)) calc(6 * var(--v));
  z-index: 1;
  box-shadow: var(--shadow-default);
}
