.pc-center {
  display: grid;
  place-items: center;
}

.pc-m {
  margin: var(--m);
}

.pc-mt {
  margin-top: var(--mt);
}

.pc-mb {
  margin-bottom: var(--mb);
}

.pc-ml {
  margin-left: var(--ml);
}

.pc-p {
  padding: var(--p);
}

.pc-text--center {
  text-align: center;
}

.pc-raw-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
