<span class="pc-badge pc-bold" style="--badge-color: var(--event-{{ type }}-text); --badge-background: var(--event-{{ type }}-background)">
    {{ 'faircalendar-overview-days'|trans({ days: days }) }}
</span>
