{% extends 'layouts/app.njk' %}
{% import 'macros/icons.njk' as icons %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}
{% from './_filters_form.njk' import filters_form with context %}

{% set title = 'faircalendar-page-title'|trans({ date: date }) %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ asset('faircalendar.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ asset('faircalendar.js') }}" type="module" async defer></script>
{% endblock %}

{% block main %}
<div class="pc-container">
    {{ breadcrumb([{ title: title }]) }}

    <h1>{{ title }}</h1>

    <div class="pc-with-sidebar pc-with-sidebar-start pc-gap" style="--sidebar-size: 22ch; --non-sidebar-min-size: 80%">
        {{ filters_form() }}

        <div id="faircalendar" class="pc-stack">
            {% table overviewTable, { attr: {class: 'pc-table--center pc-table--no-shadow'} } %}

            <pc-eventcalendar
                data-events-json="{{ fullCalendarEvents|dump }}"
                data-add-url-template="{{ path('faircalendar_events_add', { startDate: ':startDate', endDate: ':endDate' }) }}"
                data-date="{{ date|htmlDate }}"
            >
            </pc-eventcalendar>
        </div>
    </div>
</div>
{% endblock main %}
