{% extends 'layouts/app.njk' %}
{% import 'macros/icons.njk' as icons %}
{% import 'macros/links.njk' as links %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}
{% from './_event_list.njk' import event_list with context %}
{% from './_filters_form.njk' import filters_form with context %}

{% set title = 'faircalendar-page-title'|trans({ date: date }) %}

{% block main %}
<div class="pc-container">
    <pc-frame class="pc-stack" id="faircalendar">
        {{ breadcrumb([{ title: title }]) }}

        <div class="pc-cluster pc-gap" style="--cluster-justify: space-between; --cluster-align: center">
            <h1 class="pc-m" style="--m: 0">
                {{ title }}
            </h1>

            {{ links.add(path('people_leave_requests_add'), text='leave-requests-add-title'|trans) }}
        </div>

        <div class="pc-with-sidebar pc-with-sidebar-start pc-gap" style="--sidebar-size: 22ch; --non-sidebar-min-size: 80%">
            {{ filters_form() }}

            <div id="faircalendar" class="pc-stack">
                {% table overviewTable, { attr: {class: 'pc-table--center pc-table--no-shadow'} } %}

                {{ event_list() }}
            </div>
        </div>
    </pc-frame>
</div>
{% endblock main %}
