nav.pc-breadcrumb[role='navigation'][aria-label] {
  color: var(--text-muted);
  margin-bottom: calc(4 * var(--v));
}

.pc-breadcrumb > ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
}

.pc-breadcrumb li:not(:first-child)::before {
  content: '/';
  margin-inline: var(--w);
}

.pc-breadcrumb a {
  font-weight: 500;
}
