.pc-nav {
  background-color: var(--background-default);
  color: var(--text-muted);
  display: none;
}

#pc-nav-toggle {
  background-color: transparent;
  border: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.pc-nav--open {
  position: absolute;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1;
  display: block;
  box-shadow: var(--shadow-default);
}

@media screen and (min-width: 840px) {
  #pc-nav-toggle {
    display: none;
  }
  .pc-nav {
    display: block;
    /* Undo mobile open styles */
    position: static;
    min-width: unset;
    min-height: unset;
    z-index: unset;
    box-shadow: none;
  }
}

.pc-nav ul {
  list-style-type: none;
  padding: 0;
  margin-block: 0;
}

/* Links get padding to facilitate clicking */

/* First-level */
.pc-nav .pc-nav-entry > a,
.pc-nav .pc-nav-entry summary {
  padding-block: calc(3 * var(--v));
  padding-inline: calc(6 * var(--v));
}
/* Second-level */
.pc-nav details a {
  display: block;
  padding-block: calc(2 * var(--v));
  padding-inline: calc(4 * var(--v));
}

/* Active links get decorations */

.pc-nav a[aria-current='page'] {
  color: var(--text-default);
  font-weight: bold;
}

.pc-nav a[aria-current='page'] {
  position: relative;
}

.pc-nav a[aria-current='page']::before {
  position: absolute;
  content: '';
  inset: 0;
  width: var(--v);
  border-top-right-radius: var(--v);
  border-bottom-right-radius: var(--v);
  background-color: var(--background-action-violet);
}

/* Active link groups get showcased, but less prominently */

.pc-nav .pc-nav-entry.active summary {
  color: var(--text-default);
}

/* Link groups are shown in a box */

.pc-nav details ul {
  margin-inline: calc(3 * var(--w));
  box-shadow: var(--shadow-inner);
  background-color: var(--background-alt-grey);
  border-radius: var(--radius-sm);
}

/* First-level links get a hover effect */

.pc-nav a:hover,
.pc-nav .pc-nav-entry summary:hover {
  color: var(--text-default);
}

/* Link group headers are shown as togglable */

.pc-nav details > summary {
  cursor: pointer;
}

.pc-nav details > summary::after {
  content: '⌄';
  font-size: var(--font-size-lg);
  margin-left: auto;
}
