.pc-table-wrapper {
  overflow-x: auto;
  box-shadow: var(--shadow-default);
}

table.pc-table {
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.pc-table thead {
  font-weight: var(--font-weight-md);
  text-align: left;
  color: var(--text-muted);
  text-transform: uppercase;
  background-color: var(--background-alt-grey);
}

@media (prefers-color-scheme: dark) {
  .pc-table thead {
    background-color: var(--background-default);
  }
}

.pc-table th,
.pc-table td {
  padding: calc(3 * var(--v)) calc(4 * var(--v));
}

.pc-table tbody {
  background-color: var(--background-default);
}

.pc-table tr {
  border-bottom: 1px solid var(--border-default);
}
