<span class="pc-badge pc-bold" style="--badge-color: var(--leave-daysRemaining-text); --badge-background: var(--leave-daysRemaining-background)">
    {{ 'leaves-overview-daysRemaining-value'|trans({ daysRemaining: daysRemaining }) }}
</span>
