.pc-m {
  margin: var(--m);
}

.pc-mt {
  margin-top: var(--mt);
}

.pc-mb {
  margin-bottom: var(--mb);
}

.pc-ml {
  margin-left: var(--ml);
}

.pc-p {
  padding: var(--p);
}

.pc-p-block {
  padding-block: var(--p-block);
}

.pc-stack > * + * {
  margin-top: var(--stack-spacing, calc(2 * var(--w)));
}
