{% extends 'layouts/app.njk' %}
{% import 'macros/icons.njk' as icons %}
{% import 'macros/links.njk' as links %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}

{% set title = 'leaves-title'|trans %}

{% block main %}
<div class="pc-container">
    {{ breadcrumb([{ title: 'people-title'|trans }, { title: title }]) }}

    <div class="pc-row pc-row--middle pc-row--between">
        <h1 class="pc-m" style="--m: 0">
            {{ title }}
        </h1>
        <a href="{{ path('people_leave_requests_list') }}" class="pc-btn pc-icon--right">
            {{ 'leaves-see-requests'|trans }}
            {{ icons.arrow_right() }}
        </a>
    </div>

    <div class="pc-row pc-row--middle">
        <label for="calendarUrl">{{ 'leaves-calendar-url-title'|trans }}</label>
        <div>
            <input id="calendarUrl" class="pc-input" type="text" readonly value="{{ url('people_leaves_calendar') }}?token={{ calendarToken }}">
        </div>
        <div>
            <button is="pc-clipboard" class="pc-btn pc-btn--muted" data-clipboard-source="#calendarUrl" title="{{ 'clipboard-copy'|trans }}">
                {{ icons.clipboard() }}
            </button>
        </div>
    </div>

    {% table table, { attr: {class: 'pc-mt', style: '--mt: calc(4 * var(--w))'} } %}
</div>
{% endblock main %}
