{% extends 'layouts/_base.njk' %}
{% import 'macros/icons.njk' as icons %}

{% block body_attr %}class="pc-app"{% endblock %}

{% block body %}
    {% include 'components/header.njk' %}

    <div class="pc-with-sidebar" style="--sidebar-desktop-size: 35ch; --non-sidebar-min-size: 60%">
        <nav class="pc-nav">
            <ul id="pc-nav-menu" hidden>
                {% include 'components/nav_links.njk' %}
            </ul>
        </nav>

        <main class="pc-background-alt-grey pc-p" style="--p: calc(3 * var(--w)) 0; align-content: stretch">
            {% block main %}{% endblock main %}
        </main>
    </div>
{% endblock body %}
