@tailwind base;
@tailwind components;

/*
  Write here your custom css
  See here : https://tailwindcss.com/docs/functions-and-directives#apply
*/

/* Fair Calendar custom CSS */

.event-mission, .event-admin {
  @apply px-1 py-1 font-semibold border-green-100 text-green-700 bg-green-100 !important;
}

.event-mission--dark, .event-admin--dark {
  @apply px-1 py-1 font-semibold border-green-700 bg-green-700 text-green-100 !important;
}

.event-dojo {
  @apply px-1 py-1 font-semibold  border-blue-100 text-blue-700 bg-blue-100 !important;
}

.event-dojo--dark {
  @apply px-1 py-1 font-semibold  border-blue-700 text-blue-100  bg-blue-700 !important;
}

.event-support {
  @apply px-1 py-1 font-semibold  border-indigo-100  text-indigo-700 bg-indigo-100  !important;
}

.event-support--dark {
  @apply px-1 py-1 font-semibold  border-indigo-600 text-indigo-100 bg-indigo-600 !important;
}

.event-formationConference {
  @apply px-1 py-1 font-semibold  border-orange-100  text-orange-700 bg-orange-100  !important;
}

.event-formationConference--dark {
  @apply px-1 py-1 font-semibold  border-orange-600 text-orange-100 bg-orange-600 !important;
}

.event-leave {
  @apply px-1 py-1 font-semibold  border-yellow-100  text-yellow-700 bg-yellow-100 !important;
}

.event-leave--dark {
  @apply px-1 py-1 font-semibold border-yellow-600 text-yellow-100 bg-yellow-600 !important;
}

.event-holiday {
  @apply px-1 py-1 font-semibold border-purple-100  text-purple-700 bg-purple-100 !important;
}

.event-holiday--dark {
  @apply px-1 py-1 font-semibold border-purple-600 text-purple-100 bg-purple-600 !important;
}

.event-other {
  @apply px-1 py-1 font-semibold border-gray-100  text-gray-700 bg-gray-100  !important;
}

.event-other--dark {
  @apply px-1 py-1 font-semibold border-gray-600 text-gray-100 bg-gray-600 !important;
}

@tailwind utilities;

/*
  @layer base overrides
  See here : https://tailwindcss.com/docs/functions-and-directives#layer
*/

@layer base {
  /* Overrides for Fair Calaendar */
  .theme-dark .fc-day-header,
  .theme-dark .fc-day-grid {
    color: #ddd;
  }

  .theme-dark .fc-today {
    @apply bg-gray-200  text-gray-900  font-bold !important;
  }
}
.fc th {
  padding: 5px !important;
}
.theme-dark .open {
  background: rgba(26, 28, 35, var(--bg-opacity)) !important;
}
.open {
  position: fixed;
  margin-top: 4rem;
  height: 100%;
  background: #fff;
  display: block;
}
