{% extends 'layouts/app.njk' %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}
{% from './_form.njk' import task_form %}

{% set title = 'crm-tasks-add-title'|trans %}

{% block main %}
<div class="pc-container">
    {{ breadcrumb([{ title: 'crm-tasks-title'|trans, href: path('crm_tasks_list') }, { title: title }]) }}

    <h1>
        {{ title }}
    </h1>

    {{ task_form(attr={class: 'pc-card pc-box'}) }}
</div>
{% endblock main %}
