{% import 'macros/buttons.njk' as buttons %}
{% from 'macros/attr.njk' import render_attr %}

{% macro project_form(project, customers, attr=null) %}
<form method="POST" {{ render_attr(attr) }}>
    <div class="pc-input-group">
        <label class="pc-label required" for="name">{{ 'crm-projects-name-title'|trans }}</label>
        <input type="text" name="name" id="name" required {% if project %}value="{{ project.name }}"{% endif %}>
    </div>

    <div class="pc-select-group">
        <label class="pc-label required" for="customerId">{{ 'crm-projects-customer-title'|trans }}</label>
        <select name="customerId" id="customerId" required>
            {% for customer in customers %}
                <option value="{{ customer.id }}" {% if project and project.customer.id == customer.id %}selected{% endif %}>{{ customer.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="pc-input-group">
        <label for="active" class="pc-label">
            <input type="checkbox" name="active" id="active" value="true" {% if project == null or project.active %}checked{% endif %}>
            {{ 'crm-projects-active'|trans }}
        </label>
    </div>


    {{ buttons.save(attr={type: 'submit'}) }}
</form>
{% endmacro %}
