{% extends 'layouts/blank.njk' %}

{% block main %}
    <h1>
        {{ 'http-error'|trans({statusCode: statusCode, errorName: errorName}) }}
    </h1>

    <pre>{{ message }}</pre>
{% endblock main %}
