<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="theme-color" content="#343a40" />
    <link rel="stylesheet" href="/public/styles.css">
    <title>{% block title %}Permacoop{% endblock title %}</title>
  </head>
  {% block header %}{% endblock header %}
  <body class="{% block body_class %}{% endblock body_class %}">
    {% block body %}
        <main>
            {% block main %}{% endblock main %}
        </main>
    {% endblock body %}
  </body>
</html>
