{% extends 'layouts/_base.njk' %}

{% block body %}
    <div class="pc-app">
        <div class="pc-app__brand">
            <a href="{{ path('home') }}">
                <img src="{{ asset('images/logo.png') }}" alt="Fairness"/>
                {{ "site-title"|trans }}
            </a>
        </div>

        {% include 'components/header.njk' %}

        {% include 'components/nav.njk' %}

        <main class="pc-app__content {% block main_class %}{% endblock %}">
            {% block main %}{% endblock main %}
        </main>
    </div>
{% endblock body %}
