{% import 'macros/icons.njk' as icons %}

{% macro breadcrumb(items) %}
    <nav class="pc-breadcrumb" role="navigation" aria-label="{{ 'breadcrumb-title'|trans }}">
        <ol>
            <li>
                <a href="/" class="font-semibold text-grey-dark pc-row pc-row--middle" style="--row-gap: var(--v)">
                    {{ icons.dashboard(class_name='pc-icon pc-icon--sm') }}
                    {{ 'site-title'|trans }}
                </a>
            </li>
            {% for item in items %}
                {% if item.href %}
                    <li>
                        <a href="{{ item.href }}">
                            {{ item.title }}
                        </a>
                    </li>
                {% else %}
                    <li>{{ item.title }}</li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
{% endmacro %}
