{% import 'macros/icons.njk' as icons %}

{% macro render_table(table, attr={}) %}
{% set attr = attr|merge({class: 'app-table ' + attr.class|default('')}) %}
<table {% include 'components/attr.njk' %}>
  <thead>
    <tr class="dark:border-gray-70 dark:text-gray-400 dark:bg-gray-800">
      {% for column in table.columns %}
        <th>{{ column|trans }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody class="dark:divide-gray-700 dark:bg-gray-800">
    {% for row in table.rows %}
      <tr class="text-gray-700 dark:text-gray-400">
        {% for value in row %}
          {% if value.actions %}
            <td>
              {% if value.actions.edit %}
                <a href="{{ value.actions.edit.url }}" title="{{ 'common-edit'|trans }}">
                  {{ icons.pencil(class_name='pc-icon pc-icon--sm pc-icon--action-violet') }}
                </a>
              {% endif %}
            </td>
          {% else %}
            <td>
              {% if value.safe %}
                {{ value.safe|safe }}
              {% elseif value.trans %}
                {{ value.trans.message|trans(value.trans.params) }}
              {% else %}
                {{ value }}
              {% endif %}
            </td>
          {% endif %}
        {% endfor %}
      </tr>
      {% else %}
        <tr>
          <td colspan="{{ table.columns|length }}">Vide</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}
