@layer reset, defaults, layouts, components, utilities;

:root {
  /* Spacing */
  --v: 0.25rem;
  --w: 0.5rem;
  /* Fonts */
  --font-default: Inter, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-size-md: 1.1rem;
  --font-size-sm: calc(0.8 * var(--font-size-md));
  --font-size-lg: calc(1.2 * var(--font-size-md));
  --font-size-default: var(--font-size-md);
  /* Colors */
  --background-default: #ffffff;
  --background-alt-grey: #f9fafb;
  --background-action-violet: #6c2bd9;
  --background-action-violet-hover: #52289b;
  --text-on-background-default: #282828;
  --text-on-background-action-violet: #ffffff;
  --text-danger: #ff0000;
  /* Shadows */
  --shadow-default: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* Colors */
    --background-alt-grey: #121317;
  }
}

@layer reset {
  /* https://www.joshwcomeau.com/css/custom-css-reset/ */
  /*
    1. Use a more-intuitive box-sizing model.
  */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root,
  #__next {
    isolation: isolate;
  }
}

@layer defaults {
  body {
    background-color: var(--background-default);
    color: var(--text-on-background-default);
    font-family: var(--font-default);
    font-size: var(--font-size-default);
  }

  h1 {
    margin-bottom: calc(3 * var(--w));
  }

  label.required::after {
    content: ' *';
    color: var(--text-danger);
  }

  button {
    cursor: pointer;
  }

  button:not(:disabled):hover {
    background-color: var(--hover-tint);
  }

  a {
    color: inherit;
  }

  a:visited {
    color: inherit;
  }
}

@layer layouts {
  .pc-app {
    display: grid;
    grid-template-areas:
      'nav header'
      'nav main';
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    background-color: var(--background-alt-grey);
  }

  .pc-app__sidebar {
    grid-area: nav;
    background-color: var(--background-default);
  }

  .pc-app__content {
    padding: calc(3 * var(--w));
  }
}

@layer components {
  .pc-card {
    background-color: var(--background-default);
    box-shadow: var(--shadow-default);
  }

  .pc-input-group {
    margin-bottom: calc(2 * var(--w));
  }

  .pc-input-group > input {
    display: block;
    width: 100%;
  }

  .pc-input-group > label {
    margin-bottom: var(--v);
  }

  .pc-btn {
    --hover-tint: var(--background-action-violet-hover);
    border: none;
    padding: var(--w) calc(2 * var(--w));
    background-color: var(--background-action-violet);
    color: var(--text-on-background-action-violet);
  }
  .pc-btn:hover {
    background-color: var(--hover-tint);
  }

  .pc-nav {
    overflow-y: auto;
    padding: calc(4 * var(--v)) 0;
  }

  .pc-nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }

  .pc-nav ul li {
    position: relative;
    padding: calc(3 * var(--v)) calc(3 * var(--v));
  }

  .pc-nav ul li ul {
    padding: calc(2 * var(--v));
    margin-top: calc(2 * var(--v));
    overflow: hidden;
    font-size: var(--font-size-sm);
    box-shadow: var(--shadow-inner);
    background-color: var(--background-alt-grey);
  }

  .pc-nav ul li ul li {
    padding: calc(2 * var(--v)) calc(1 * var(--v));
  }

  .pc-nav__decoration {
    position: absolute;
    inset: 0;
    left: 0;
    width: var(--v);
    background-color: var(--background-action-violet);
    border-top-right-radius: var(--radius-lg);
    border-bottom-right-radius: var(--radius-lg);
  }

  .pc-nav a,
  .pc-nav details > summary {
    display: inline-flex;
    column-gap: calc(2 * var(--v));
    align-items: center;
    width: 100%;
    font-size: var(--font-size-sm);
  }

  .pc-nav details > summary {
    cursor: pointer;
  }

  .pc-nav a[aria-current='page'] {
    font-weight: bold;
  }

  .pc-nav details summary > svg,
  svg.pc-icon--sm {
    display: inline;
  }

  .pc-brand {
    display: inline-flex;
    align-items: center;
    column-gap: calc(3 * var(--v));
    padding: calc(6 * var(--v));
    font-size: var(--font-size-lg);
    font-weight: bold;
  }

  .pc-brand__logo {
    width: calc(8 * var(--v));
    height: calc(8 * var(--v));
  }

  .pc-icon--danger {
    color: var(--text-danger);
  }

  .pc-icon--sm {
    width: calc(6 * var(--v));
    height: calc(6 * var(--v));
  }

  .pc-icon--left {
    display: flex;
    align-items: center;
  }

  .pc-icon--left > .pc-icon {
    margin-inline-end: calc(2 * var(--v));
  }

  .pc-header {
    grid-area: header;
    background-color: var(--background-default);
    display: flex;
    justify-content: end;
    padding: calc(3 * var(--v));
  }

  details.pc-dropdown {
    position: relative;
  }

  details.pc-dropdown > summary {
    cursor: pointer;
  }

  details.pc-dropdown .pc-dropdown__content {
    z-index: 1;
    position: absolute;
    background-color: var(--background-default);
    box-shadow: var(--shadow-default);
    right: 0;
    width: max-content;
    padding: calc(3 * var(--v));
  }

  ul.pc-dropdown__content > li {
    padding-block: calc(2 * var(--v));
  }

  .pc-raw-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  button.pc-link {
    background: none;
    border: none;
    padding: 0;
    color: var(--text-link);
    cursor: pointer;
    text-decoration: underline;
  }
}

@layer utilities {
  .pc-center {
    display: grid;
    place-items: center;
  }

  .pc-background-alt-grey {
    background-color: var(--background-alt-grey);
  }

  .pc-cols--even {
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
  }

  .pc-mt {
    margin-top: var(--mt);
  }

  .pc-p {
    padding: var(--p);
  }

  .pc-text--center {
    text-align: center;
  }
}
