{% import 'macros/icons.njk' as icons %}
{% from 'macros/dialog.njk' import confirm_dialog_form %}

<span class="pc-cluster pc-gap" style="--cluster-align: center">
  {% if actions.view %}
    <a href="{{ actions.view.url }}" class="pc-btn pc-btn--secondary" title="{{ 'common-view'|trans }}">
      {{ icons.eye(attr={class: 'pc-icon--action-violet'}) }}
    </a>
  {% endif %}

  {% if actions.edit %}
    <a href="{{ actions.edit.url }}" class="pc-btn pc-btn--secondary" title="{{ 'common-edit'|trans }}">
      {{ icons.pencil(attr={class: 'pc-icon--action-violet'}) }}
    </a>
  {% endif %}

  {% if actions.delete %}
    {% set id = randomHex(4) %}

    <pc-form-submit on="dialog-trigger:submit">
      <form method="POST" action="{{ actions.delete.url }}">
        <pc-dialog-trigger dialog="dialog-delete-{{ id }}" submitValue="confirm">
          <button class="pc-btn pc-btn--secondary" title="{{ 'common-form-delete'|trans }}" aria-label="{{ 'common-form-delete'|trans }}">
            {{ icons.trash({class: 'pc-icon--action-violet'}) }}
          </button>
        </pc-dialog-trigger>
      </form>
    </pc-form-submit>

    <dialog id="dialog-delete-{{ id }}">
      {% set actions = [{ label: "dialog-delete-yes"|trans, value: "confirm", attr: {class: "pc-btn", type: 'submit'} }, { label: "dialog-delete-no"|trans, value: "close", attr: {class: "pc-btn pc-btn--secondary"} }] %}
      {{ confirm_dialog_form(title="dialog-delete-title"|trans, actions=actions) }}
    </dialog>
  {% endif %}
</span>
