{% from 'macros/attr.njk' import render_attr %}

{% set attr = attr|merge({class: attr.class|default('') ~ (' pc-picto pc-picto--' ~ picto) }) %}

<span {{ render_attr(attr) }}>{{ message|trans }}</span>
