{% extends 'layouts/app.njk' %}
{% import 'macros/icons.njk' as icons %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}

{% set title = 'faircalendar-page-title'|trans({ date: date }) %}

{% block scripts %}
    <script src="{{ asset('faircalendar.js') }}" type="module" async defer></script>
{% endblock %}

{% block main %}
<div class="pc-container">
    {{ breadcrumb([{ title: title }]) }}

    <h1>{{ title }}</h1>

    <div class="pc-with-sidebar pc-gap" style="--sidebar-size: 22ch; --non-sidebar-min-size: 80%">
        {% include './_filters.njk' %}

        <div id="faircalendar" class="pc-stack">
            {% table overviewTable, { attr: {class: 'pc-table--center pc-table--no-shadow'} } %}

            <pc-fullcalendar
                data-events-json="{{ fullCalendarEvents|dump }}"
                data-add-url-template="{{ path('faircalendar_events_add', { date: '__date__' }) }}"
                data-date="{{ date|htmlDate }}"
                data-height="30rem"
            ></pc-fullcalendar>
        </div>
    </div>
</div>
{% endblock main %}
