{% extends 'layouts/app.njk' %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}

{% set title = 'faircalendar-title'|trans %}

{% block main %}
<div class="pc-container">
    {{ breadcrumb([{ title: title}]) }}

    <h1>{{ title }}</h1>

    <form action="">
        <div class="pc-grid pc-gap" style="--cols: 3">
            <div class="select-group">
                <label class="pc-label" for="month">{{ 'faircalendar-filters-month-title'|trans }}</label>
                <input type="month" name="month">
            </div>
            <div class="select-group">
                <label class="pc-label" for="userId">{{ 'faircalendar-filters-userId-title'|trans }}</label>
                <select name="userId" id="userId">
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user|fullName }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>

    <pc-fullcalendar
        data-events-json="{{ fullCalendarEvents|dump }}"
        data-add-url-template="{{ path('faircalendar_events_add', { date: '__date__' }) }}"
        data-date="{{ date|htmlDate }}"
    ></pc-fullcalendar>
</div>
{% endblock main %}
