body {
  background-color: var(--background-default);
  color: var(--text-default);
  font-family: var(--font-default);
  font-size: var(--font-size-default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--title-spacing);
}

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 2rem;
}

p {
  font-size: 1rem;
  margin: var(--paragraph-spacing);
}

fieldset {
  border: none;
}

dialog {
  margin: auto;
}
