@import '@event-calendar/core/index.css';

/* EventCalendar customizations */

pc-eventcalendar {
  display: block;
}

.ec {
  background-color: var(--background-default);
}

.ec-event {
  font-weight: bold;
}

.ec-day.ec-today {
  background-color: var(--event-today);
}

.ec-toolbar {
  /* Fix: We don't set a toolbar but it leaves an empty div, remove it.  */
  display: none;
}

pc-eventcalendar .ec-day-grid .ec-uniform .ec-day {
  /* Fix: by default EventCalendar sets the min-height of day boxes to 0 when dayMaxEvents is true. */
  min-height: 5rem;
}

.ec-event-body > a {
  display: block;
  width: 100%;
}
