:root {
  /* Spacing */
  --v: 0.25rem;
  --w: 0.5rem;
  --paragraph-spacing: 0 0 calc(3 * var(--w)) 0;
  --title-spacing: 0 0 calc(3 * var(--w)) 0;
  /* Fonts */
  --font-default: Inter, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-size-md: 0.95rem;
  --font-size-sm: calc(0.8 * var(--font-size-md));
  --font-size-lg: calc(1.2 * var(--font-size-md));
  --font-size-default: var(--font-size-md);
  --font-weight-md: 500;
  /* Colors */
  --background-default: #ffffff;
  --background-default-hover: #f1f2f3;
  --background-alt-error: #ffecec;
  --background-alt-grey: #f9fafb;
  --background-muted: #f0f0f0;
  --background-muted-hover: #dadada;
  --background-action-violet: #6c2bd9;
  --background-action-violet-hover: #52289b;
  --background-error: #dd1d1d;
  --background-error-hover: #b92020;
  --text-default: #282828;
  --text-muted: #6e6e6e;
  --text-on-muted: var(--text-default);
  --text-on-background-action-violet: #ffffff;
  --text-action-violet: #6c2bd9;
  --text-action-violet-on-background-default: #6c2bd9;
  --text-error: #c52424;
  --text-on-error: #ffffff;
  --text-on-alt-error: var(--text-error);
  /* Borders */
  --border-default: #e2e8f0;
  --radius-sm: var(--v);
  /* Shadows */
  --shadow-default: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-inner: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  /* FairCalendar */
  --event-mission-background: rgb(222, 247, 236);
  --event-mission-border: rgb(222, 247, 236);
  --event-mission-text: rgb(4, 108, 78);
  --event-dojo-background: rgb(225, 239, 254);
  --event-dojo-border: rgb(225, 239, 254);
  --event-dojo-text: rgb(26, 86, 219);
  --event-support-background: rgb(229, 237, 255);
  --event-support-border: rgb(229, 237, 255);
  --event-support-text: rgb(81, 69, 205);
  --event-formationConference-background: rgb(254, 236, 220);
  --event-formationConference-border: rgb(254, 236, 220);
  --event-formationConference-text: rgb(180, 52, 3);
  --event-leave-background: rgb(253, 246, 178);
  --event-leave-border: rgb(253, 246, 178);
  --event-leave-text: rgb(142, 75, 16);
  --event-holiday-background: rgb(237, 235, 254);
  --event-holiday-border: rgb(237, 235, 254);
  --event-holiday-text: rgb(108, 43, 217);
  --event-other-background: rgb(244, 245, 247);
  --event-other-border: rgb(244, 245, 247);
  --event-other-text: rgb(36, 38, 45);
  --event-today: #fcf8e3;
  --leave-daysRemaining-background: rgb(222, 247, 236);
  --leave-daysRemaining-border: rgb(222, 247, 236);
  --leave-daysRemaining-text: rgb(4, 108, 78);
  --header-height-desktop: 56px;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    /* Colors */
    --background-default: #1a1b23;
    --background-default-hover: #2a2b36;
    --background-alt-grey: #121317;
    --background-muted: #272930;
    --background-muted-hover: #33353d;
    --text-default: #ffffff;
    --text-muted: #bbbbbb;
    --border-default: #636363;
    --text-action-violet-on-background-default: #cabffd;
    /* FairCalendar */
    --event-mission-background: rgb(4, 108, 78);
    --event-mission-border: rgb(4, 108, 78);
    --event-mission-text: var(--text-default);
    --event-dojo-background: rgb(26, 86, 219);
    --event-dojo-border: rgb(26, 86, 219);
    --event-dojo-text: var(--text-default);
    --event-support-background: rgb(81, 69, 205);
    --event-support-border: rgb(81, 69, 205);
    --event-support-text: var(--text-default);
    --event-formationConference-background: rgb(180, 52, 3);
    --event-formationConference-border: rgb(180, 52, 3);
    --event-formationConference-text: var(--text-default);
    --event-other-background: rgb(36, 38, 45);
    --event-other-border: rgb(36, 38, 45);
    --event-other-text: var(--text-default);
    --event-holiday-background: rgb(159, 88, 10);
    --event-holiday-border: rgb(159, 88, 10);
    --event-holiday-text: var(--text-default);
    --event-today: #645f44;
  }
}

:root[data-theme='dark'] {
  /* DO NOT MODIFY! COPY-PASTE THE ABOVE */
  /* Colors */
  --background-default: #1a1b23;
  --background-default-hover: #2a2b36;
  --background-alt-grey: #121317;
  --background-muted: #272930;
  --background-muted-hover: #33353d;
  --text-default: #ffffff;
  --text-muted: #bbbbbb;
  --border-default: #636363;
  --text-action-violet-on-background-default: #cabffd;
  /* FairCalendar */
  --event-mission-background: rgb(4, 108, 78);
  --event-mission-border: rgb(4, 108, 78);
  --event-mission-text: var(--text-default);
  --event-dojo-background: rgb(26, 86, 219);
  --event-dojo-border: rgb(26, 86, 219);
  --event-dojo-text: var(--text-default);
  --event-support-background: rgb(81, 69, 205);
  --event-support-border: rgb(81, 69, 205);
  --event-support-text: var(--text-default);
  --event-formationConference-background: rgb(180, 52, 3);
  --event-formationConference-border: rgb(180, 52, 3);
  --event-formationConference-text: var(--text-default);
  --event-other-background: rgb(36, 38, 45);
  --event-other-border: rgb(36, 38, 45);
  --event-other-text: var(--text-default);
  --event-holiday-background: rgb(159, 88, 10);
  --event-holiday-border: rgb(159, 88, 10);
  --event-holiday-text: var(--text-default);
  --event-today: #645f44;
}
