<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <title>Error</title>
        <style>
            body {
                font-family: Arial, sans-serif;
            }
            pre {
                font-family: 'Courrier New', monospace;
            }
        </style>
    </head>
    <body>
        <h1>Error</h1>
        <pre>
            {{ error }}
        </pre>
    </body>
</html>
