{% extends 'layouts/app.njk' %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}
{% from './_form.njk' import customer_form %}

{% set title = 'crm-customers-add-title'|trans %}

{% block main %}
<div class="pc-container">
    <h1>{{ title }}</h1>

    {{ customer_form(attr={class: 'pc-box'}) }}
</div>
{% endblock main %}
