{% extends 'layouts/app.njk' %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}
{% from './_form.njk' import event_form %}

{% set title = 'faircalendar-events-add-span-title'|trans({ startDate: startDate, endDate: endDate }) if startDate != endDate else 'faircalendar-events-add-title'|trans({ startDate: startDate }) %}

{% block main %}
<div class="pc-container">
    {{ breadcrumb([{ title: 'faircalendar-title'|trans, href: path('faircalendar_index') }, { title: title }]) }}

    <h1>{{ title }}</h1>

    {{ event_form(null, types, projects, tasks, times, startDate, endDate, attr={class: 'pc-card pc-box'}) }}
</div>
{% endblock main %}
