{% extends 'layouts/app.njk' %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}
{% from './_form.njk' import project_form %}

{% set title = 'crm-projects-add-title'|trans %}

{% block main %}
<div class="pc-container">
    {{ breadcrumb([{ title: 'crm-projects-title'|trans, href: path('crm_projects_list') }, { title: title }]) }}

    <h1>
        {{ title }}
    </h1>

    {{ project_form(null, customers, attr={class: 'pc-box'}) }}
</div>
{% endblock main %}
