{% extends 'layouts/app.njk' %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}
{% from './_form.njk' import project_form %}

{% block main_class %}pc-container{% endblock %}

{% set title = 'crm-projects-edit-title'|trans({name: project.name }) %}

{% block main %}
    {{ breadcrumb([{ title: 'crm-projects-title'|trans, href: path('crm_projects_list') }, { title: title }]) }}

    <h1 class="pc-m" style="--m: 0">
        {{ title }}
    </h1>

    <div class="pc-card pc-mt" style="--mt: calc(3 * var(--w))">
        {{ project_form(project, customers, class_name='pc-card__content') }}
    </div>
{% endblock main %}
