{% extends 'layouts/app.njk' %}
{% import 'macros/links.njk' as links %}
{% from 'macros/breadcrumb.njk' import breadcrumb %}

{% set title = 'payroll-elements-title'|trans %}

{% block main %}
<div class="pc-container pc-stack">
    {{ breadcrumb([{ title: 'people-title'|trans }, { title: title }]) }}

    <div class="pc-cluster pc-gap" style="--cluster-justify: space-between; --cluster-align: center">
        <h1 class="pc-m" style="--m: 0">
            {{ title }}
        </h1>

        <div class="pc-cluster pc-gap" style="--cluster-align: center">
            <a is="pc-blob-link" data-blob-content="{{ csv }}" data-blob-mime-type="application/csv" download="{{ 'payroll-elements-filename'|trans({ date: date|htmlYearMonth }) }}" class="pc-btn">
                {{ 'payroll-elements-download'|trans }}
            </a>

            <a href="https://wiki.fairness.coop/fr/guides/gestion/Salaires-et-fiches-de-paie" class="pc-link-btn" rel="noreferrer" target="_blank">
                {{ 'payroll-elements-wiki'|trans }}
            </a>
        </div>
    </div>

    {% table table %}
</div>
{% endblock main %}
