.pc-text--center {
  text-align: center;
}

.pc-bold {
  font-weight: bold;
}

.pc-text--default {
  font-size: var(--font-size-default);
  font-weight: normal;
  text-transform: none;
}

.pc-text--small {
  font-size: var(--font-size-sm);
}
